<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/styles/presentation.css">
</head>
<body>
  <header>
    <%- include('../partials/header.ejs'); %>
  </header>

  <main>
    <section id="products-section">
      <!-- <h2 id="products__category-title">office</h3> -->
      <%-  include('../partials/items.ejs') %>
    </section>
  </main>

</body>
</html>