<footer>
  <h4>Proyecto Fake Store creado consumiendo API creada en ExpressJS</h4>
  <div>
    <a href="">Repo Front</a>
    <a href="">Repo API REST</a>
    <a href="">Linkedin</a>
  </div>
</footer>