<nav>
  <h2>
    <a href="/">Fake Store</a>
  </h2>
  <% if(user === undefined) { %>
    <ul>
      <li><a href="/signin">SignIn</a></li>
      <li><a href="/signup">SignUp</a></li>
      <li><a href="/shopping">Carrito</a></li>
    </ul>
  <% } else { %>
    <div>
      <a href="/profile">Profile</a>
      <a href="/shopping">Carrito</a>
    </div>
  <% } %>
</nav>